@model IEnumerable<Portfolio.Models.Projects>
<!-- intro
       ================================================== -->
<section id="intro" class="s-intro">

    <div class="row">
        <div class="column lg-12 s-intro__content">

            <div class="s-intro__text">
                <h1 class="s-intro__text-huge animate-on-load">
                    Afnan
                </h1>
                <h3 class="animate-on-load">Asp.net Developer</h3>
            </div>

            <div class="s-intro__bg"></div>

        </div>
    </div>

</section> <!-- end s-intro -->
<!-- about
================================================== -->
<section id="about" class="s-about">


    <div class="s-about__block s-about__intro">

        <div class="row">
            <div class="column lg-12">
                <h2 class="text-pretitle animate-on-load">About Me</h2>

                <p class="attention-getter animate-on-load">
                    Experienced ASP.NET developer adept at creating dynamic web applications using ASP.NET Core, MVC, C#, and SQL Server. Collaborative team player committed to delivering top-notch code on schedule. Passionate about staying ahead of industry trends. Ready for new challenges.

                </p>
            </div>
        </div>

    </div> <!-- end s-about__intro -->


    <div class="s-about__block s-about__career">

        <div class="row s-about__career-header">
            <div class="column lg-12">
                <h2 class="text-pretitle">Resume</h2>

                <p class="text-huge-title">
                    Here is my education, work experience, & some skills I've got.
                </p>
            </div>
        </div>

        <div class="row s-about__timeline" data-animate-block>
            @* <div class="column lg-6 stack-on-900 s-about__timeline-section" data-animate-el>

                <h2 class="text-subtitle">
                    Experience
                </h2>

                <div class="timeline">

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <h4 class="timeline__title">
                                Spotify</h3>
                                <h5 class="timeline__meta">Product Designer</h5>
                                <p class="timeline__timeframe">August 2019 - Present</p>
                        </div>
                        <div class="timeline__desc">
                            <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi.</p>
                        </div>
                    </div>

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <h4 class="timeline__title">Dropbox</h4>
                            <h5 class="timeline__meta">Frontend Developer</h5>
                            <p class="timeline__timeframe">March 2016 - July 2019</p>
                        </div>
                        <div class="timeline__desc">
                            <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi.</p>
                        </div>
                    </div>

                </div> <!-- end timeline -->

            </div> <!-- end s-about__timeline-section --> *@

            <div class="column lg-6 stack-on-900 s-about__timeline-section" data-animate-el>

                <h2 class="text-subtitle">
                    Education
                </h2>

                <div class="timeline">

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <h4 class="timeline__title">
                                Superior Science College</h3>
                                <h5 class="timeline__meta">Higher Secondary School</h5>
                                <p class="timeline__timeframe">2022-2024</p>
                        </div>
                        <div class="timeline__desc">
                            <p>Attended Superior Science College Higher Secondary School from 2022 to 2024, immersing myself in computer science and a variety of other subjects. Embraced a challenging curriculum and diverse extracurricular pursuits, fostering a holistic educational journey. Exemplified unwavering commitment to academic excellence and personal development.</p>
                        </div>
                    </div>

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <h4 class="timeline__title">
                               The Educators School</h3>
                                <h5 class="timeline__meta">Secondary School</h5>
                                <p class="timeline__timeframe">2008-2022</p>
                        </div>
                        <div class="timeline__desc">
                            <p>Nurtured the foundation of my academic journey at The Educators School from 2008 to 2022, establishing a bedrock of knowledge and values. Embraced the secondary school curriculum as the cornerstone of my educational ascent. Cultivated essential skills and ignited a passion for learning, laying the groundwork for future endeavors.</p>
                        </div>
                    </div>

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <h4 class="timeline__title">Aptech Learning</h4>
                            <h5 class="timeline__meta">Advanced Diploma In Software Engineering</h5>
                            <p class="timeline__timeframe">2021-2024</p>
                        </div>
                        <div class="timeline__desc">
                            <p>Immersed in a transformative educational voyage at Aptech Learning from 2021 to 2024, attaining an Advanced Diploma in Software Engineering. Delved deep into diverse programming paradigms and computer science fundamentals, honing skills crucial for professional success. Embraced a dynamic learning environment, fostering a passion for innovation and excellence.</p>
                        </div>
                    </div>

                </div> <!-- end timeline -->

            </div> <!-- end s-about__timeline-section -->

        </div> <!-- end about__timeline -->

        <div class="row s-about__skills" data-animate-block>
            <div class="column lg-12" data-animate-el>

                <h2 class="text-subtitle">
                    Skills & Expertise
                </h2>

                <ul class="skill-bars">
                    <li>
                        <div class="progress percent95"></div>
                        <strong>HTML & CSS</strong>
                    </li>
                    <li>
                        <div class="progress percent85"></div>
                        <strong>C#</strong>
                    </li>
                    <li>
                        <div class="progress percent90"></div>
                        <strong>Asp.net Core MVC</strong>
                    </li>
                    <li>
                        <div class="progress percent75"></div>
                        <strong>Asp.net Framework</strong>
                    </li>
                    <li>
                        <div class="progress percent70"></div>
                        <strong>Sql Server</strong>
                    </li>
                    <li>
                        <div class="progress percent65"></div>
                        <strong>Photoshop</strong>
                    </li>
                   
                </ul>

            </div>
        </div> <!-- end s-about__skills -->

      @*   <div class="row s-about__clients" data-animate-block>
            <div class="column lg-12" data-animate-el>

                <h2 class="text-pretitle">Tech</h2>

                <ul class="clients-list text-huge-title">
                    <li><a href="#0">Microsoft</a></li>
                    <li><a href="#0">Amazon</a></li>
                    <li><a href="#0">Solana</a></li>
                    <li><a href="#0">Nike</a></li>
                    <li><a href="#0">Adidas</a></li>
                    <li><a href="#0">Polkadot</a></li>
                    <li><a href="#0">Google</a></li>
                    <li><a href="#0">Atom</a></li>
                    <li><a href="#0">Square</a></li>
                    <li><a href="#0">Brave</a></li>
                </ul>

            </div>
        </div> <!-- end s-about__clients--> *@

    </div> <!-- end s-about__career -->

</section> <!-- end s-about -->


<!-- # works
  ================================================== -->
<section id="works" class="s-works">

    <div class="row">
        <div class="column lg-12">
            <h2 class="text-pretitle">Selected Projects</h2>

            <p class="text-huge-title">
                Selected Projects I Have Worked On.
            </p>
        </div>
    </div>

    <div class="row folio-list block-lg-one-half block-stack-on-550" data-animate-block>
        @foreach (var item in Model)
        {
            <div class="column" data-animate-el>
                <div class="folio-item">
                    <div class="folio-item__thumb">
                        <a class="folio-item__thumb-link" href="@Html.DisplayFor(ModelItem=>item.Image)" title="@Html.DisplayFor(ModelItem=>item.ProjectName)" data-size="1050x700">
                            <!-- Updated the src to use an absolute path from the root if ~/ is required -->
                            <img src="@Html.DisplayFor(ModelItem=>item.Image)" alt="@Html.DisplayFor(ModelItem=>item.ProjectName)" width="700" height="1050">
                        </a>
                    </div>
                    <div class="folio-item__info">
                        <div class="folio-item__meta">
                            <span class="cat">•</span>
                                <a href="https://www.@Html.DisplayFor(ModelItem=>item.ProjectLink)" target="_blank" title="Project Link" class="project-link">Project Link</a>
                        </div>
                        <h4 class="folio-item__title">@Html.DisplayFor(ModelItem => item.ProjectName)</h4>
                    </div>
                    <div class="folio-item__caption">
                        <p>@Html.DisplayFor(ModelItem => item.ProjectDescription)</p>
                    </div>
                </div>
            </div> <!-- end column -->
        }
        

      

    </div> <!-- folio-list -->


    <div class="row testimonials">
        <div class="column lg-12">

            <div class="swiper testimonial-slider">

                <div class="swiper-wrapper">

                    <div class="testimonial-slider__slide swiper-slide">
                        <p>
                            Molestiae incidunt consequatur quis ipsa autem nam sit enim magni. Voluptas tempore rem.
                            Explicabo a quaerat sint autem dolore ducimus ut consequatur neque. Nisi dolores quaerat fuga rem nihil nostrum.
                            Laudantium quia consequatur molestias.
                        </p>
                        <div class="testimonial-slider__author">
                            <img src="~/images/avatars/user-02.jpg" alt="Author image" class="testimonial-slider__avatar">
                            <cite class="testimonial-slider__cite">
                                <strong>John Rockefeller</strong>
                                <span>Standard Oil Co.</span>
                            </cite>
                        </div>
                    </div> <!-- end testimonial-slider__slide -->

                    <div class="testimonial-slider__slide swiper-slide">
                        <p>
                            Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci.
                            Nisi eaque consequatur. Voluptatem dignissimos ut ducimus accusantium perspiciatis.
                            Quasi voluptas eius distinctio. Atque eos maxime.
                        </p>
                        <div class="testimonial-slider__author">
                            <img src="~/images/avatars/user-03.jpg" alt="Author image" class="testimonial-slider__avatar">
                            <cite class="testimonial-slider__cite">
                                <strong>Andrew Carnegie</strong>
                                <span>Carnegie Steel Co.</span>
                            </cite>
                        </div>
                    </div> <!-- end testimonial-slider__slide -->

                    <div class="testimonial-slider__slide swiper-slide">
                        <p>
                            Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.
                            Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.
                            Voluptatem dignissimos ut.
                        </p>
                        <div class="testimonial-slider__author">
                            <img src="~/images/avatars/user-01.jpg" alt="Author image" class="testimonial-slider__avatar">
                            <cite class="testimonial-slider__cite">
                                <strong>John Morgan</strong>
                                <span>JP Morgan & Co.</span>
                            </cite>
                        </div>
                    </div> <!-- end testimonial-slider__slide -->

                    <div class="testimonial-slider__slide swiper-slide">
                        <p>
                            Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci.
                            Nisi eaque consequatur. Voluptatem dignissimos ut ducimus accusantium perspiciatis.
                            Quasi voluptas eius distinctio. Atque eos maxime.
                        </p>
                        <div class="testimonial-slider__author">
                            <img src="~/images/avatars/user-05.jpg" alt="Author image" class="testimonial-slider__avatar">
                            <cite class="testimonial-slider__cite">
                                <strong>Henry Ford</strong>
                                <span>Ford Motor Co.</span>
                            </cite>
                        </div>
                    </div> <!-- end testimonial-slider__slide -->

                </div> <!-- end swiper-wrapper -->

                <div class="testimonial-slider__next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
                </div>
                <div class="testimonial-slider__prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path></svg>
                </div>

                <div class="swiper-pagination"></div>

            </div> <!-- end testimonial-slider -->

        </div> <!-- end column -->
    </div> <!-- end row testimonials -->

</section> <!-- end s-works -->




